# Frontend Vite environment variables
VITE_API_KEY="YOUR_IVY_API_KEY"
VITE_PASSWORD="YOUR_API_KEY_PASSWORD"
VITE_EMAIL="demo1@ivy.homes"
VITE_API_BASE_URL="https://solve.ivy.homes"

# Python scripts environment variables
MY_API_KEY="YOUR_IVY_API_KEY"
PASSWORD="YOUR_API_KEY_PASSWORD"
EMAIL="demo1@ivy.homes"
